//Colors

//Blue
$blue1: #113F8C;
$blue2: #01A4A4;
$blue3: #00A1CB;

//Green
$green1: #61AE24;
$green2: #D0D102;
$green3: #32742C;

//Red
//D70060 pink
//E54028 reddyorange
//F18D05 orange

//Grey
//616161

$lightgreen:#D0DD2B;
$green:#98C73D;
$blue:#00A9E0;
$lightblue:#67CDDC;
//$dark:#3B3B3D;
$alis: rgb(17, 85, 107);
$dark: darken($blue, 20%);
;